<a href="https://colab.research.google.com/github/tarsojabbes/basics-data-analysis/blob/main/COVID_19Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **COVID-19 Pandas Practice**

In [5]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
import io

Importing a dataset

In [2]:
from google.colab import files

uploaded = files.upload()

Saving worldometer_coronavirus_daily_data.csv to worldometer_coronavirus_daily_data.csv

Reading a CSV file and replacing the NaN values with 0

In [31]:
data = pd.read_csv(io.BytesIO(uploaded['worldometer_coronavirus_daily_data.csv']))
data = data.fillna(0)

Deleting columns we'll not use and renaming columns

In [35]:
data.drop(columns={'daily_new_cases', 'daily_new_deaths'}, axis = 1, inplace=True)
data.rename(columns={"date": "Date", "country": "Country", "cumulative_total_cases": "Total cases", "active_cases": "Active Cases", "cumulative_total_deaths": "Total Deaths"}, inplace=True)

Changing Date format

In [36]:
data['Date'] = pd.to_datetime(data['Date'])

.describe() makes a mathematical analysis of our information

In [37]:
data.describe()

        Total cases  Active Cases   Total Deaths
count  1.527350e+05  1.527350e+05  152735.000000
mean   5.007736e+05  5.254006e+04   11083.468301
std    2.630062e+06  4.306144e+05   50404.214015
min    0.000000e+00 -1.432100e+04       0.000000
25%    7.410000e+02  4.200000e+01       9.000000
50%    1.293300e+04  1.143000e+03     183.000000
75%    1.549460e+05  1.244500e+04    2757.000000
max    5.880519e+07  1.595168e+07  853612.000000

.info() shows information about our columns in the dataset

In [38]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152735 entries, 0 to 152734
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Date          152735 non-null  datetime64[ns]
 1   Country       152735 non-null  object
 2   Total cases   152735 non-null  float64
 3   Active Cases  152735 non-null  float64
 4   Total Deaths  152735 non-null  float64
dtypes: datetime64[ns](1), float64(3), object(1)
memory usage: 5.8+ MB

Creating a group using .groupby()
.groupby(<by what we're goint to group>)[[Each column we want to see]]

.sum() will sum all values

.reset_index() prevents index errors

In [46]:
data_2 = data.groupby('Country')[['Total Deaths']].sum().reset_index()

In [48]:
data_3 = data.groupby('Total Deaths').sum().reset_index()

In [49]:
data_3

       Total Deaths  Total cases  Active Cases
0               0.0    1313413.0      328842.0
1               1.0    1169544.0      258094.0
2               2.0    1043633.0      318623.0
3               3.0    1181616.0      309368.0
4               4.0     529981.0      258958.0
...             ...          ...           ...
26620      848397.0   56500814.0    14086092.0
26621      848907.0   56985128.0    14533682.0
26622      849794.0   57504715.0    14913585.0
26623      851810.0   58100525.0    15342927.0
26624      853612.0   58805186.0    15951678.0

[26625 rows x 3 columns]