<a href="https://colab.research.google.com/github/tarsojabbes/basics-data-analysis/blob/main/IntroductionToPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introduction to Pandas**

Pandas is a library build using NumPy used to deal with a large amount of data, for analysis, pre-process and cleaning.

In [1]:
import pandas as pd

## **Pandas Series**

Series will deal with 1D arrays, and we can use "index" to determine the way were going to access the data of these arrays.

In [2]:
example_1 = pd.Series([2,3,4,5], index=['a', 'b', 'c', 'd'])

We can access all the values and the indexes of the array with .values and .index

In [4]:
example_1.values

array([2, 3, 4, 5])

In [5]:
example_1.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [8]:
# Basic usage to access the value by the index
example_1['a']

2

The array slicing also works here

In [7]:
example_1['a':'c']

a    2
b    3
c    4
dtype: int64

We can create series by first creating a dictionary in Python and passing it to pd.Series()

In [9]:
grades_dict = {'A': 4, 'A-': 3.5, 'B': 3, 'B-': 2.5, 'C': 2}
grades = pd.Series(grades_dict)

In [12]:
marks_dict = {'A': 85, 'A-': 75, 'B': 65, 'B-': 55, 'C': 45}
marks = pd.Series(marks_dict)

Although we have explicit indexes such as A, A-, B, we can also use numbers to do a slicing

In [14]:
marks[0:2] # This will work the same way as marks['A':'B']

A     85
A-    75
dtype: int64